@charset "UTF-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}

.qawritercontainer{
	padding-top: 4.06rem;
	width: 100%;
/* 	min-height: 85vh; */
}
.qawritertitlediv{
	display: flex;
	justify-content: center;
	align-items: center;
}
.qawritertitle{
	margin-top: 4rem;
	padding: 2rem 0;
	border-bottom: 1px solid black;
	width: 70%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.qawriterwrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.qawriterform{
	width: 70%;
	margin-top: 2rem;
	margin-bottom: 4rem;
}
.qawriterul{
	width: 100%;
	list-style: none;
}
.qawriterli{
	width: 100%;
	display: flex;
	margin: 1rem auto;
/* 	justify-content: center; */
}
.qawriteritem1{
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.qawriteritem3{
	margin-right: 3rem;
}
.qawriteritem{
	width: 30%;
	height: 1.7rem;
	margin-bottom: 1rem;
}
.qawriteritem1-1{
	height: 1.7rem;
	flex-grow: 1;
	margin-bottom: 1rem;
}
.qawiter{
	width: 100%;
	height: 40vh;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.qawrite{
	width: 100%;
	display: flex;
    justify-content: flex-end;
}
.qawrite1{
	min-width: 8rem;
	height: 1.9rem;
	color: black;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
}
.qawrite2{
	min-width: 8rem;
	height: 1.9rem;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: 1rem;
}