@charset "UTF-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}

.qadetailcontainer{
	padding-top: 4.06rem;
	width: 100%;
/* 	min-height: 85vh; */
}
.qadetailtitlediv{
	display: flex;
	justify-content: center;
	align-items: center;
}
.qadetailtitle{
	margin-top: 4rem;
	padding: 2rem 0;
	border-bottom: 1px solid black;
	width: 70%;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.qadetailwrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gadetaildiv{
	width: 70%;
	margin-top: 2rem;
	margin-bottom: 4rem;
}
.qadetailul{
	width: 100%;
	list-style: none;
}
.qadetailli{
	width: 100%;
	display: flex;
	margin: 1rem auto;
	align-items: center;
/* 	justify-content: center; */
}
.qadetailitem1{
	margin-right: 3rem;
	margin-bottom: 1rem;
}
.qadetailitem{
	width: 30%;
	height: 1.7rem;
	margin-bottom: 1rem;
	border: 1px solid black;
	align-items: center;
}
.qadetailitem1-1{
	height: 1.7rem;
	flex-grow: 1;
	margin-bottom: 1rem;
	border: 1px solid black;
}
.detailMsgcontent{
	display: flex;
	text-align: center;
	align-items: center;
	font-size: 1.3rem;
}
.qacontent{
	width: 100%;
	height: 40vh;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border: 1px solid black;
}
.qadetail{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.qadetail1{
	min-width: 8rem;
	height: 1.9rem;
	color: black;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
	margin-right: 1rem;
}
.qadetail2{
	min-width: 8rem;
	height: 1.9rem;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	margin-left: 1rem;
}
/* 모달 스타일 */
/* .modal { */
/*     display: none; 기본적으로 숨김 */
/*     position: fixed; 화면의 정중앙에 배치하기 위해 사용 */
/*     top: 50%; */
/*     left: 50%; */
/*     min-width: 13%; */
/*     min-height: 8rem; */
/*     transform: translate(-50%, -50%); */
/*     z-index: 30; 다른 요소들보다 위에 표시되도록 z-index 설정 */
/*     color: black; */
/*     background-color: white;  */
/* 	border: 1px solid black; */
/* } */
/* 모달 내부 요소 스타일 */
/* .modal-content { */
/* 	display: flex; */
/*     text-align: center; */
/*     width: 100%; */
/*     height: 100%; */
/*     align-items: center; */
/*     justify-content: center; */
/*     flex-wrap: wrap; */
/*     margin-top: 2rem; */
/* } */

.realdelete{
	width: 100%;
	margin-bottom: 1rem;
}
.deleteselect{
	width: 100%;
}
.deleteok{
	margin-right: 1rem;
	padding: 0.5rem 1rem;
	background-color: white;
}
/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    top: 3px;
    right: 2px;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    border-color: black;
}
.qa_commentdiv{
	width: 100%;
	align-items: center;
	background-color: #f7f7f7
}
.qa_comment_list{
	width: 100%;
	border-bottom: 1px solid white;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
.qa_comment_updel{
	display: flex;
}
.qa_comment{
	border: none;
}
.qa_comment2{
	border: none;
	width: 100%;
	background-color: #f7f7f7;
}
.qa_comment_form{
	width: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
	border: 1px solid black;
	margin-bottom: 2rem;
	margin-top: 4rem;
}
.qa_comment_form2{
	width: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
	border: 1px solid black;
	margin: 2rem 0;
}
.qa_comment_formdiv{
	width: 100%;
	display: grid;
	grid-template-columns: 10% 70% 12.5% 7.5%;
/* 	border: 1px solid black; */
	
}
.qa_comment_formdiv2{
	width: 100%;
	display: none;
/* 	grid-template-columns: 10% 70% 15% 5%; */
/* 	border-bottom: 1px solid black; */
/* 	display: grid; */
/* 	grid-template-columns: 90% 10%; */
/* 	border-bottom: 1px solid black; */
}
.qa_comment_button{
	min-width: 8rem;
	padding: 0 2.2rem;
	border: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
	cursor: pointer;
	background-color: white;
}
.qa_comment_name{
	text-align: center;
}
.qa_comment_button2{
	border: none;
	text-decoration: underline;
	cursor: pointer;
	background-color: #f7f7f7;
}
